@page
@model Student_Senate_Task_Wheel.Pages.Members.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Member</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.Organization)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member!.Organization!.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member!.Role!.RoleName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.IsOrgAdmin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.IsOrgAdmin)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Member.MemberId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
