@page
@model Student_Senate_Task_Wheel.Pages.Assignments.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RotationAssignment[0].Member)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RotationAssignment[0].DutyTask)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RotationAssignment[0].WeekStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RotationAssignment[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RotationAssignment[0].CompletedOn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.RotationAssignment) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Member.MemberId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DutyTask.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeekStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompletedOn)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.RotationAssignmentId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.RotationAssignmentId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.RotationAssignmentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
