@page
@model Student_Senate_Task_Wheel.Pages.DutyTasks.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DutyTask[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DutyTask[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DutyTask[0].Organization)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DutyTask[0].Frequency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DutyTask[0].IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DutyTask) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Organization.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Frequency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.DutyTaskId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.DutyTaskId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.DutyTaskId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
